.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    .name{
        min-height: 40px;
        font-weight: 300;
        padding: 5px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .price{
        padding: 5px;
        text-align: center;
        font-weight: 400;
    }
    button{
        border-radius: 5px;
        width: 100%;
        border: none;
        padding: 5px;
        background-color: var(--clr-main);
        color: white;
        text-transform: uppercase;
        cursor: pointer;
    }
}